body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-bottom: 100px;
}
header {
    background-color: #1d0e70;
    color: #f4f4f4;
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
}
#footer-divider {
	min-height: 100%;
	padding-bottom: 150px;
}
footer {
    background-color: #1d0e70;
    color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* 버튼이 화면을 넘어가면 자동 줄 바꿈 */
    gap: 6px; /* 버튼 간격 */
}
.btn {
    font-size: 24px;
    width: 200px;
    height: 65px;
    border: 2.2px solid #1d0e70;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
    margin: 0px 6px ;
    line-height: 65px;
    
}
.btn:hover {
    background-color: #1d0e70;
    transform: scale(1.1);
    color:#f4f4f4
}
p.thick {
    font-weight: bold;
  }

  /* 숨겨진 체크박스 */
.modal-toggle {
    display: none;
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* 체크박스가 체크되면 모달을 표시 */
.modal-toggle:checked + .btn + .modal {
    display: block;
}

/* 모달 콘텐츠 스타일 */
.modal-content {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

/* 닫기 버튼 스타일 */
.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.close-btn:hover {
    color: #1d0e70;
}

/* 각 모달에 대해 체크박스가 체크되면 모달을 표시 */
#modalToggle1:checked ~ #modal1,
#modalToggle2:checked ~ #modal2,
#modalToggle3:checked ~ #modal3,
#modalToggle4:checked ~ #modal4,
#modalToggle5:checked ~ #modal5,
#modalToggle6:checked ~ #modal6,
#modalToggle7:checked ~ #modal7,
#modalToggle8:checked ~ #modal8,
#modalToggle9:checked ~ #modal9,
#modalToggle10:checked ~ #modal10,
#modalToggle11:checked ~ #modal11,
#modalToggle12:checked ~ #modal12,
#modalToggle13:checked ~ #modal13,
#modalToggle14:checked ~ #modal14,
#modalToggle15:checked ~ #modal15{
    display: block;
}